/* Reset start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font: 400 14px/1 "Lobster", sans-serif;
    letter-spacing: 1px;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}
/* Reset end */

/* Default classes start */
.row {
    margin: 0 -15px;
}

.d-flex {
    display: flex;
}

.products-menu {
    z-index: 98;
    margin-top: 23px;
    position: fixed;
    width: 100%;
    padding: 20 0;
    background-color: white;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.col-4 {
    width: 33.3333%;
    padding: 0 15px;
}

.btn {
    display: inline-block;
    padding: 16px 60px;
    font: 400 14px/1 "Lobster", sans-serif;
    border-radius: 50px;
    border: 2px solid transparent;
    cursor: pointer;
    color: white
}

.btn.btn-default {
    background-color: #FA86A5;
    border: #FA86A5;
    box-shadow: 0 5px 10px rgba(250, 134, 165, 0.5);
}

.btn.btn-default:hover {
    background-color: white;
    color: #FA86A5;
}
/* Default classes end */

.cakes-wrap {
    padding-top: 151;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 0 15px;
}

.standart-section {
    margin: 80px;
}

.section-title {
    font-size: 30px;
    margin-bottom: 70px;
    color: #FA86A5;;
}

#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 20px 0;
    background-color: #fff;
    border-bottom: 3px solid #FA86A5;
    box-shadow: 0 2px 20px rgba(250, 134, 165, 0.5);
}

.header-nav {
    font-size: 20px;
    font-weight: 700;
}

.header-nav a + a {
    margin-left: 30px;
}

.header-nav a:hover {
    color: #FA86A5;
}

.cake-item .cake-title:hover {
    color: #FA86A5;
}

.logo a img {
    height: 60px;
}

.cake-item {
    position: relative;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(250, 134, 165, 0.5);
    padding: 20px;
    margin-bottom: 20px;
}

.cake-item .cake-img {
    display: block;
}

.cake-item .cake-img img {
    border-radius: 30px;;
}

.cake-item .cake-title {
    font-size: 25px;
    font-weight: 700;
    margin: 20;
    font-family: 'Lobster';
}

.cake-item .cake-price {
    font-size: 15px;
    font-weight: 700;
}

.cake-item .discount {
    position: absolute;
    right: 10;
    bottom: 400;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 3px 5px rgba(250, 134, 165, 0.5);
    font-size: 30px;
    font-family: 'Lobster';
}
 
.about-me-text {
    font-size: 22px;
    line-height: 1.6;
    margin: auto;
    max-width: 80%;
}

.btn-block {
    margin: 30px;
}

.btn-block a {
    font-size: 18px;
}
.menu-item  {
    font-size: 16px;
}





